<nav class="navbar navbar-expand-lg navbar-primary bg-dark">
    <div class="container-fluid">
      
      <div [routerLink]="['/home']">
        <img  class="navbar-brand" src="./assets/img/icon.ico" alt="logo" width="30" height="40">

        <a class="navbar-brand btn-dark">Saturnian Newspaper</a>
      </div> 
    
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">          

          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/spacecrafts']">SPACECRAFS</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/about']">ABOUT</a>
          </li>
          


         
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav> 


